@import url('node_modules/bootstrap/css/bootstrap.min.css');
@import url('https://fonts.cdnfonts.com/css/rubik');
*{
	font-family: Rubik;
}
.header{
	background: #fff;
	box-shadow: 0px 0px 15px -8px #000;
}
.bg-system{
	background: #F9F4E2;
}
.bg-system-primary{
	background: var(--main-secondary, #70C05B);
}
.catalog-btn{
	border: none;
	padding: 8px 12px;
	border-radius: 4px;
	color: #fff;
	background: var(--main-secondary, #70C05B);
}
.search{
	border-radius: 6px;
	width: 70%;
	padding: 8px 12px;
	display: flex;
	border: 1px solid #70C05B;
	justify-content: space-between;
}
.search input{
	width: 90%;
	outline: none;
	background: transparent;
	border: none;
}
.avatar{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	object-fit: cover;
}
.hover-items div:hover *, .hover-items div.active *{
	fill: #ff6633;
	color: #FF6633;
}
.title{
	font-weight: 900;
	font-size: 70px;
}
.delete-selected{
	color: #FF6633;
}
.products>div{
	padding: 5px;
	background: #fff;
}
.products .image img{
	width: 70px;
	height: 70px;
	object-fit: cover;
	box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.10);
}
.products div .text{
	width: 60%;
}
.products .price{
	width: 10%;
	text-align: right;
}

/**/


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background: var(--main-secondary, #70C05B);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--main-secondary, #70C05B);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.cardhas200{
	font-size: 16px;
}

.order-print hr{
	width: 100%;
	margin: 0 auto;
}
.text-green{
	color:  var(--main-secondary, #70C05B);
}
.order-cart{
	border: none;
	padding: 16px;
	border-radius: 4px;
	color: #FF6633;
	font-size: 24px;
	background: var(--main-primary-muted, #FCD5BA);
}
.footer{
	background: #F9F4E2;	
}
.footer-wrap{
	background: url('bg.png');
}
.logoinfooter{
	width: 64px;
	height: 44px;
}
.menu{
	font-size: 12px !important;
}
.order-print{
	position: sticky;
	top: 400px;
}